#!/bin/bash
yum -y erase docker
yum -y update

cat << FILE > /etc/docker/daemon.json
{
  "storage-driver": "overlay2"
}
FILE
yum -y install docker
usermod -a -G docker ec2-user

cd /home/ec2-user

export IP=`curl ifconfig.co`
export ES=${aws_es_endpoint}
echo "export IP=$IP" >> .bash_profile
echo "export ES=$ES" >> .bash_profile

curl -L https://github.com/docker/compose/releases/download/{{ ec2_docker_compose }}/docker-compose-`uname -s`-`uname -m` | tee /usr/local/bin/docker-compose > /dev/null
chmod +x /usr/local/bin/docker-compose
chkconfig docker on
service docker start

cat <<FILE >.htpasswd
{{ kibana_login}}:{{ kibana_htpasswd }}
FILE

cat <<FILE > docker-compose.yml.b64
{{ docker_compose_b64.stdout }}
FILE
cat docker-compose.yml.b64|base64 --decode >docker-compose.yml
rm docker-compose.yml.b64

cat <<FILE > nginx.conf.b64
{{ nginx_conf_b64.stdout }}
FILE
cat nginx.conf.b64|base64 --decode >nginx.conf
rm nginx.conf.b64

sed -i "s|__ES__|$ES|g" ./nginx.conf
sed -i "s|__IP__|$IP|g" ./nginx.conf

/usr/local/bin/docker-compose -f ./docker-compose.yml up -d


