#!/bin/bash

yum -y update
yum -y erase docker
yum -y install nginx

export IP=`curl ifconfig.co`
export ES=${aws_es_vpc}
echo "export IP=$IP" >> /home/ec2-user/.bash_profile
echo "export ES=$ES" >> /home/ec2-user/.bash_profile

cd /etc/nginx/
rm nginx.conf
cat <<FILE > nginx.conf.gz.b64
{{ nginx_conf_gz_b64.stdout }}
FILE
cat nginx.conf.gz.b64|base64 --decode|gunzip >nginx.conf
rm nginx.conf.b64

sed -i "s|__ES__|$ES|g" /etc/nginx/nginx.conf
sed -i "s|__IP__|$IP|g" /etc/nginx/nginx.conf

chkconfig nginx on
service nginx start
